img {
	margin-top: 1em;
	margin-bottom: 1em;
}

figure[id] img {
	margin-bottom: 0px;
}

/* Custom toggle */
/* .toggle .header {
    display: block;
    clear: both;
}

.toggle .header:after {
    content: " ▶&#xFE0E;";
}

.toggle .header.open:after {
    content: " ▼&#xFE0E;";
} */